#nav {
	display: flex;
	height: 50px;
	background: #303030;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.logoName {
	display: flex;
	align-items: center;
	gap: 8px;
}

.logo {
	height: 40px;
}

.logo img {
	height: 100%;
}

.logoName p {
	font-size: 25px;
	font-weight: 500;
	color: white;
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #505050;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 10px;
	width: 180px;
}

.search-box.disabled {
	opacity: 0.4;
	user-select: none;
	pointer-events: none;
}

.search-input {
	border: none;
	outline: none;
	padding: 8px;
	width: 100%;
	color: white;
	font-size: 16px;
	background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid transparent;
	-webkit-text-fill-color: white;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}

.search-input::placeholder {
	color: rgb(150, 150, 150);
}

.search-input:disabled {
	opacity: 0;
}

.search-icon {
	cursor: pointer;
	color: tomato;
	font-size: 22px;
}