#news {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	padding-bottom: 20px;
}

#news h1 {
	margin-top: 0;
	text-align: center;
	font-size: 1.6rem;
	color: white;
}

.container {
	display: flex;
	/* justify-content: space-around; */
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
}

.container div:last-child {
	/* margin-right: auto; */
}

@media (width <= 700px) {  
	.container {
		justify-content: center;
	}
}

